body,
li,
ul,
h2, p {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
  font-family: "Noto Serif", "Helvetica Neue";
}

#app {
  padding: 0 80px;
}

/* Lista produtos */

.produtos {
  max-width: 900px;
  margin: 100px auto 100px auto;
}

.produto {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  background: #ffffff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.produto_img {
  max-width: 300px;
  margin-right: 40px;
}

.produto_titulo {
  font-size: 3rem;
  line-height: 1;
}

.produto_preco {
  color: rgba(0, 0, 0, 0.5);
}

.modal::before{
content: "";
position: fixed;
top: 0;
width: 100%;
height: 100vh; /* significa que a altura deste elemento é igual a 100% da altura da janela de visualização. */
background: rgba(0,0,0,.5);
}

.modal{
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  padding: 80px;
  width: 100%;
  position: absolute;
  align-items: center;
}
.modal_preco{
  background: white;
}

.modal_container{
  position: relative;
  background: white;
  z-index: 1;
  display: grid;
 align-items: end;
 grid-gap: 50px;
 padding: 50px 50px 50px 0;
 background: linear-gradient(to right, transparent 250px, white 250px);
}

.modal_img{
  grid-column: 1;
  margin-top: 50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1), 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.modal_img img {
  max-width: 300px;
  display: block;
}

.modal_titulo{
  font-size: 3rem;
}

.modal_btn{
  margin-top: 80px;
  background: black;
  border: none;
  color: white;
  padding: 10px 25px;
  font-size: 1rem;
  font-family: "Noto Serif", "Helvetica Neue";
  cursor: pointer;
}

.modal_btn:active{
  background: #808080;
}

.modal_dados {
  grid-column: 2;
  max-width: 600px;
}

.avaliacoes{
  grid-column: 2;
}

.avaliacao {
  border-bottom: 1px solid rgba(0,0,0,.1);
  padding-bottom: 20px;
}

.avaliacao_subtitulo{
  font-size: 1.76rem;
}

.avaliacao_descricao{
  color: rgba(0, 0, 0, 0.7);
  margin: 20px 0 5px 0;
}

.avaliacao_usuario{
  font-weight: bold;
}
